/* THIS IS WHERE STYLING NEEDS TO GO */

:root {
  --first-color: #494e6b;
  --second-color: #192231;
  --third-color: #576ca5;
  --fourth-color: rgba(255, 255, 255);
  --fifth-color: rgb(0, 0, 0);
  --seventh-color: rgb(68, 66, 66);
  --font-style1: Andale Mono, monospace;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HEADER STYLING START */

#page-header ul a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--fourth-color);
}

#page-header ul a:active {
  color: var(--fifth-color);
  background-color: var(--fourth-color);
}

#page-header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--second-color);
  color: var(--fourth-color);
}


/* HEADER STYLING END */


/* HERO SECTION STYLING START */
.hero-section {
  background-color: var(--third-color);
}

.hero {
  padding: 100px 0px;
  background-image: url("../src/assets/images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero div {
  width: 40%;
}

.hero div h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px var(--fourth-color);
}



#home-content p {
  padding: 20px 20px 20px 30px;
  line-height: 30px;
  text-indent: 50px;
}
/* HERO SECTION STYLING END */



/* ABOUT SECTION STYLING START */
.about {
  background-color: var(--third-color);
  padding-bottom: 50px;
}

.about h2 {
  text-align: center;
  padding: 10px 0px;
}

#about-content {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.about p {
  width: 50%;
  line-height: 30px;
  text-indent: 50px;
}

#developer {
    background-image: url("../src/assets/images/Reagan.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--fifth-color);
    border-radius: 25%;
    width: 27%;
    height: 350px;
}



/* ABOUT SECTION STYLING END */




/* PORTFOLIO SECTION STYLING START */
.portfolio {
  background-color: var(--third-color);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio h2 {
  text-align: center;
  padding-bottom: 30px;
}

.portfolio div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.portfolio-item {
  border: 5px solid var(--fifth-color);
  border-radius: 25%;
  opacity: .3;
  width: 27%;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-duration: 1s;
  transition-delay: .5s;
}

.portfolio a div {
  background-color: var(--first-color);
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-item:hover {
  opacity: 1;
  width: 35%;
  height: 250px;
}

#run-buddy {
  background-image: url("../src/assets/images/run-buddy-pic.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

#refactor {
  background-image: url("../src/assets/images/search-engine-optimization.jpg");
  background-size: contain;
}

#stargazing {
  background-image: url("../src/assets/images/stargazing.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

#notetaker {
  background-image: url("../src/assets/images/notetaker.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

#techticket {
  background-image: url("../src/assets/images/techticket.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

#budgettracker {
  background-image: url("../src/assets/images/budgettracker.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

/* PORTFOLIO SECTION STYLING END */

/* RESUME SECTION STYLING START */

.resume {
  background-color: var(--third-color);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume h2 {
  text-align: center;
}

.resume h3 {
  text-decoration: underline;
}
#resume-content {
  display: flex;
  flex-direction: column;
}

.resume a {
  text-decoration: none;
  padding-left: 40px;
}

.content-part {
  display: flex;
  flex-direction: row;
}

#training-experience {
  padding-left: 40px;
}

#work-experience {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

/* RESUME SECTION STYLING END */


/* CONTACT SECTION STYLING START */
.contact {
  background-color: var(--third-color);
  padding: 50px 0;
}

.contact h2 {
  text-align: center;
  padding-bottom: 30px;
}

form {
  width: 40%;
 
}

.form-div {
  display: flex;
  justify-content: center;
} 

input {
  font-size: 1rem;
  margin: 7px;
  padding: 2.5px;
  border: 2px solid var(--fifth-color);
  outline: none;
  border-radius: 3px;
}

textarea {
	width: 600px;
	height: 120px;
	border: 2px solid var(--fifth-color);
	padding: 5px;
}

#dev-info {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

#dev-info ul {
  display: flex;
  flex-direction: column;
}

#name-required { 
  display: none; 
}

#name-field:hover + #name-required {
  display: inline
}

#email-required { 
  display: none; 
}

#email-field:hover + #email-required {
  display: inline
}

#message-required { 
  display: none; 
}

#message-field:hover + #message-required {
  display: inline
}


/* CONTACT SECTION STYLING END */



/* FOOTER SECTION STYLING START */

footer {
  background-color: var(--second-color);
  color: var(--fourth-color);
}

/* FOOTER SECTION STYLING END */